[user]
    name = Kenneth E. Bellock
    email = ken@bellock.net
[alias]
    lg1 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    lg2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit
    lg = !"git lg1"
    praise = blame
    activebranches = !"for k in $(git branch -aq | cut -c 3- | awk '{print $1}' );do echo -e $(git show --pretty=format:\"%Cgreen%ci %Cblue%cr%Creset\" $k|head -n 1)\\\\t$k;done|sort -r"
[credential]
    helper = store
[diff]
    tool = meld
[merge]
    tool = meld
[color]
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[include]
    path = /nfs/msdev/etc/git/config
# [http]
#     sslVerify = false
